argcomplete==2.0.0
beautifulsoup4==4.12.3
blinker==1.9.0
boolean.py==4.0
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.44.0
cyclonedx-python-lib==8.9.0
dbus-python==1.4.0
defusedxml==0.7.1
filelock==3.18.0
Flask==3.0.3
google-api-core==2.24.2
google-api-python-client==2.158.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.69.2
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
libcomps==0.1.20.post1
license-expression==30.4.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
msgpack==1.1.0
packageurl-python==0.16.0
packaging==24.2
pdf2image==1.17.0
pillow==11.0.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.8.0
platformdirs==4.3.7
proto-plus==1.26.1
protobuf==6.30.2
py-serializable==1.1.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
pyparsing==3.2.3
pytesseract==0.3.13
requests==2.32.3
rich==14.0.0
rsa==4.9
setuptools==78.1.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.6
toml==0.10.2
uritemplate==4.1.1
urllib3==2.4.0
Werkzeug==3.1.2
wheel==0.45.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
